body{
  background-image: url("http://images2.layoutsparks.com/1/202969/everytime-polka-dots-pink.jpg");
}
h1{
  background-color: white;
  text-align: center;
  color:#3D383B;
  height: 10%;
  width: 110%;
  margin-top: -6px;
  font-family: Tahoma;
  font-size: 46px;
}
.background{
  width:15%;
  height: 5%;
  border-radius: 20%;
  text-align: center;
  color:white;
  margin-left: 160px;
  font-family: Tahoma;
}
.background:hover{
width: 25%;
height: 10%;
font-size: 30px;
}
.dot{
 background-color:orange;
}
.dot:hover{
opacity:.2;
}
#dot_1{
  height: 60%;
  width: 30%;
  border-radius: 100%;
  float:right;
  margin-right: 160px;
  margin-top: -20px;
}
p{
  font-family: Tahoma;
  color:white;
  text-align: center;
  position: relative;
  margin-top: 100px;
  font-size: 25px;

}
#dot_2{
  height: 38%;
  width: 19%;
  border-radius: 100%;
  float:right;
  margin-right: 120px;
}

#dot_3{
  height: 24%;
  width: 12%;
  border-radius: 100%;
  float:right;
  margin-right: 220px;
  margin-top: -10px;
}

#dot_4{
  height: 38%;
  width: 19%;
  border-radius: 100%;
  float:right;
  margin-right: 250px;
  margin-top: -100px;
}

#dot_5{
  height: 20%;
  width: 10%;
  border-radius: 100%;
  float:right;
  margin-right: 300px;
  margin-top: -40px;
}

#dot_6{
  height: 30%;
  width: 15%;
  border-radius: 100%;
  float:right;
  margin-right: 270px;
  margin-top: 80px;
  margin-top: -5px;
}

#dot_7{
  height: 46%;
  width: 23%;
  border-radius: 100%;
  float:right;
  margin-right: 420px;
  margin-top: -40px;
}

#wonderful{
  background-color: #FA0785;
}
#great{
  background-color: #FA2D97;
}
#happy{
  background-color: #FC58AD;
}
#delight{
  background-color: #FC7CBE;
}
#lucky{
  background-color: #FA96CA;
}
#calm{
  background-color: #FACDE4;
}
#peaceful{
  background-color: #FAF0F5;
}
#doubtful{
  background-color: #CCBEC5;
}
#worried{
  background-color: #A89BA2;
}
#anxious{
  background-color: #73686E;
}
#upset{
  background-color: #4A4347;
}
#miserable{
  background-color: #2E2B2C;
}
#footer {
  position: absolute;
  height: 50px;
  width: 95%;
  font-size: 18px;
  text-align: right;
}

